<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DEDuino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <DEDuino.Properties.Settings>
            <setting name="isUno" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMport" serializeAs="String">
                <value/>
            </setting>
            <setting name="CautionPanel" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="BMS432" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="onStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JshepCP" serializeAs="String">
                <value>False</value>
            </setting>
        </DEDuino.Properties.Settings>
    </userSettings>
</configuration>
